.main{
    position: relative;
    &__header{
        padding: 0px 43px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        &__router{
            text-decoration: none;
        }
        &__left{
            color: #8B8A8B;
            font-size: 10px;
            font-family: Avenir Next Cyr;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 1px;
            &__img{
                width: 135px;
                height: 25px;
                flex-shrink: 0;
            }
            &__text{ 
                font-family: Avenir Next Cyr;
                font-size: 10px;
                font-weight: 300;
                line-height: 12px;
                letter-spacing: 0.1em;
                text-align: left;
            }
        }
        &__right{
            &__btn{
                width: 104px;
                height: 39px;
                flex-shrink: 0;
                border-radius: 19.5px;
                border: 2px solid #52CAB6;
                color: #52CAB6;
                font-size: 10px;
                font-family: Roboto;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 2.3px;
                background-color: transparent;
            }
        }
    }
    &__content{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 100px;
        &__gradient{
            background: linear-gradient(146.6deg, #F7C3DC 19.87%, rgba(246, 164, 93, 0.85307) 26.93%, #EE7787 42.19%, #A95EA1 56.56%, #273067 67.9%);
            background-clip: text;
            color: transparent;
        }
        &__images{
            width: 534px;
            display: flex;
            align-items: end;
            justify-content: flex-end;
            gap: 13px;
            &__left{                
                padding: 10px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1px;
                border: 1px solid white;
                border-radius: 100px;
                background-color: white;
                box-shadow: 0px 0px 10px 0px rgb(218, 218, 218);
                width: 118px;
                height: 118px;
                &__img1{
                    width: 66px;
                    height: 64px;
                }
                &__text{
                    position: relative;
                    font-size: 11px;
                }
            }
            &__right{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 4px;
                border: 1px solid white;
                border-radius: 100px;
                background-color: white;
                box-shadow: 0px 0px 8px 0px rgb(218, 218, 218);
                width: 101px;
                height: 101px;
                &__img2{
                    position: relative;
                    width: 46px;
                    height: 47px;
                    left: 5%;
                }
                &__text{
                    position: relative;
                    font-size: 11px;
                }
            }
        }
        &__text{
            margin-top: 180px;
            display: flex;
            flex-direction: column;
            text-align: left;
            gap: 33px;
            &__topic{
                margin: 0px;
                max-width: 534px;
                color: transparent;
                -webkit-text-stroke: 2px white;
                font-size: 55px;
                font-style: normal;
                font-weight: 900;
                line-height: 113.1%;
                letter-spacing: 5.5px;
            }
            &__description{
                width: 290px;
                height: 128px;
                
                color: #605E5E;
                font-size: 14px;
                font-family: Avenir Next Cyr;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.98px;
            }
        }
        
    }
    &__background{
        z-index: -1;
        position: fixed;
        top: -40vh;
        left: 33vw;
        width: 1657px;
        height: 1657px;
        border-radius: 1657px;
        background: #FFC850;
    }
    @media (max-width: 800px) {
        &__content{
            display: flex;
            justify-content: flex-end;
            &__images{
                justify-content: center;
                position: absolute;
            }
            &__text{
                gap: 180px;
                align-items: flex-start;
                text-align: left;
                &__topic{
                    justify-content: flex-start;
                    max-width: 400px;
                    color: transparent;
                    -webkit-text-stroke: 1px white;
                    font-size: 35px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 113.1%;
                    letter-spacing: 3px;
                }
            }
        }
    }
}