.card{
    border: 0px;
    border-radius: 18px;
    font-size: 14px;
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.84px;
    width: 186px;
    height: 290px;
    box-shadow: 4px 4px 8px 2px rgb(238, 238, 238);
    &:hover{
        font-size: 16px;
        box-shadow: 0px 0px 10px 2px rgb(218, 218, 218);
    }
    min-width: 30px;
    &-img{}
    &-text{
        margin: 10px;
        display: flex;
        min-width: 100px;
        flex-direction: column;
        flex-shrink: 0;
        color: #000;
    }
}