.input {
    color: #605E5E;
    font-size: 11px;
    font-family: Avenir Next Cyr;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 0.72px;

    width: 100%;
    height: 20px;
    background: #FFF;
    border: none;
    outline: none;
}