.FooterCols{
    &__list{
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 20px;
        &-item{
            display: flex;
            flex-direction: row;
            gap: 12px;
            align-items: center;
            &-router{
                text-decoration: none;
                color: white;
            }
            &-imgs-back{
                background-image: url('@/assets/main/social icons/vk.png');
            }
        }
    }
}