.FooterCols {
    &__list {
        display: flex;
        flex-direction: column;
        text-align: left;

        &__item {
            display: flex;
            flex-direction: row;
            gap: 12px;
            align-items: center;

            &__router {
                text-decoration: none;
                margin-bottom: 7px;
                color: #FFF;
                font-family: Avenir Next Cyr;
                font-size: 12px;
            }

            &__imgs__img {
                width: 21px;
                height: 21px;
                background-repeat: no-repeat;
                background-size: 100% 100%;
            }
        }
    }
}