.main{
    &__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        &__router{
            text-decoration: none;
        }
        &__logo{
            color: #8B8A8B;
            font-size: 10px;
            font-family: Avenir Next Cyr;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 1px;
            &-img{
                width: 135px;
                height: 25px;
                flex-shrink: 0;
            }
            &-text{
                color: #8B8A8A;
                font-size: 10px;
                font-family: Avenir Next Cyr;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                letter-spacing: 1px;
                text-align: left;
            }
        }
        &__selector{
            &-select{
                display: flex;
                padding: 3px;
                flex-direction: column;
                flex-shrink: 0;
                color: #605E5E;
                font-size: 13px;
                font-family: Malik Trial;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 1.04px;
                border: none;
            }
        }
        &__search{
            display: flex;
            flex-direction: row;
            align-items: center;
            border: 1px solid black;
            box-shadow: -1px 0px 5px 2px rgba(0, 0, 0, 0.25);
            border-radius: 23.5px;
            padding: 10px;
            input[type="search"]::-webkit-search-decoration,
            input[type="search"]::-webkit-search-results-button,
            //input[type] нужны чтобы не было видно 'x' - input
            input[type="search"]::-webkit-search-cancel-button,
            input[type="search"]::-webkit-search-results-decoration {
            -webkit-appearance:none;
            }

            &-input{
                width: 456px;
                height: 20px;
                flex-shrink: 0;
                // border-radius: 23.5px;
                background: #FFF;
                border: none;
                outline: none;
            }
            &-img{
                width: 15px;
                height: 15px;
                // margin-left: -30px;
                flex-shrink: 0;
            }
        }
        &__btns{
            display: flex;
            flex-direction: row;
            &__btn1{
                width: 194px;
                height: 39px;
                flex-shrink: 0;
                &-button{
                    color: white;
                    border-radius: 19.5px;
                    border: 2px solid #52CAB6;
                    background: #52CAB6;
                    padding: 10px 10px;
                }
            }
            &__btn2{
                width: 104px;
                height: 39px;
                flex-shrink: 0;
                &-button{
                    padding: 10px 20px;
                    border-radius: 19.5px;
                    color: rgba(82, 202, 182, 1);
                    border: 2px solid #52CAB6;
                }
            }  
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        &-gray_background{
            background: #FAF9F9;
        }
        &__image{
            display: flex;
            justify-content: center;
            &-img {
                width: 100%;
            }
        }
        &__cards{
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-top: 80px;
            padding-bottom: 100px;
        }
        &__service{ 
            display: flex;
            flex-direction: column;
            gap: 20px;

            &__serviceList{
                display: grid;
                flex-wrap: wrap;
                grid-template-columns: 25% 25% 25% 25%;
                align-self: center;
                text-align: left;
                gap: 40px;
            }

            &__btn{
                &-btn{
                    border-radius: 30px;
                    border: 2px solid #52CAB6;
                    color: #52CAB6;
                    padding: 14px;
                    font-size: 10px;
                    font-family: Avenir Next Cyr;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 2.6px;
                }
            }

            &__frame{
                gap: 40px;
                display: flex;
                flex-direction: column;
                background: #FAF9F9;
                margin-top: 60px;
                padding-top: 140px;
                padding-bottom: 140px;
                &__text{
                    max-width: 40%;
                    align-self: center;
                    &-txt{
                        text-align: left;
                    }
                }
    
                &__cards{
                    flex-wrap: wrap;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 30px;
                    &-card{
                        display: flex;
                        flex-direction: column;
                        max-width: 30%;
                    }
                }
            }
            &__frame2{
                display: flex;
                flex-direction: row;
                gap: 40px;
                padding: 200px 40px 140px 40px;
                
                &__text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: left;
                    width: 24%;

                    &-title{

                    }
                    &-txt{
                        
                    }
                }
                &__cards{
                    flex-wrap: wrap;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    &-card{
                    }
                }
            }

            &__fade-enter-from{
                transform: translateY(30px);
                opacity: 0.001;
            }
            &__fade-enter-to{
                opacity: 1;
            }
            &__fade-enter-active{
                transition: all 0.7s ease;
            }
            &__fade-leave-from{
                opacity: 1;
            }
            &__fade-leave-to{
                transform: translateY(30px);
                opacity: 0.001;
            }
            &__fade-leave-active{
                transition: all 0.3s ease;
            }
        }
    }
    &__footer{
        background: #454545;
        color: white;
        padding: 10px;
        &__table{
            flex-wrap: wrap;
            gap: 20px;
            padding: 60px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-bottom: 100px;
            &-col{
                display: flex;
                flex-direction: column;
            }
        }
    }
}
