.main {
    background-color: white;
    position: relative;

    &__header {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 43px;

        &__router {
            text-decoration: none;
        }

        &__logo {
            color: #8B8A8B;
            font-size: 10px;
            font-family: Avenir Next Cyr;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
            letter-spacing: 1px;

            &__img {
                width: 135px;
                height: 25px;
            }

            &__text {
                color: #8B8A8A;
                font-size: 10px;
                font-family: Avenir Next Cyr;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                letter-spacing: 1px;
                text-align: left;
            }
        }

        &__selector {
            &__select {
                display: flex;
                padding: 3px;
                flex-direction: column;
                border: none;

                color: #605E5E;
                font-size: 13px;
                font-family: Malik Trial;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                letter-spacing: 1.04px;
            }
        }

        &__search {
            display: flex;
            flex-direction: row;
            align-items: center;
            border-radius: 23.5px;
            padding: 10px;
            max-width: 330px;
            width: 100%;
            box-shadow: 0px 4px 8px 0px rgb(218, 218, 218);

            input[type="search"]::-webkit-search-decoration,
            input[type="search"]::-webkit-search-results-button,
            //input[type] нужны чтобы не было видно 'x' - input
            input[type="search"]::-webkit-search-cancel-button,
            input[type="search"]::-webkit-search-results-decoration {
                -webkit-appearance: none;
            }

            &__input {
                color: #605E5E;
                font-size: 11px;
                font-family: Avenir Next Cyr;
                font-style: normal;
                font-weight: 300;
                line-height: normal;
                letter-spacing: 0.72px;

                width: 100%;
                height: 20px;
                background: #FFF;
                border: none;
                outline: none;
            }

            &__img {
                width: 15px;
                height: 15px;
            }
        }

        &__btns {
            display: flex;
            flex-direction: row;

            &__btn1 {
                width: 194px;
                height: 39px;

                &__button {
                    border-radius: 19.5px;
                    border: 2px solid #52CAB6;
                    background: #52CAB6;
                    padding: 10px 10px;
                    color: #FFF;
                    font-size: 10px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 2.3px;
                }
            }

            &__btn2 {
                width: 104px;
                height: 39px;

                &__button {
                    padding: 10px 20px;
                    border-radius: 19.5px;
                    border: 2px solid #52CAB6;
                    color: #52CAB6;
                    font-size: 10px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 2.3px;
                    background-color: white;
                }

                &__button:after {
                    content: "ВХОД";
                }
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

        &__short-images {
            display: none;
        }

        &__gray_background {
            background: #FAF9F9;
        }

        &__image {
            display: flex;
            justify-content: center;
            overflow: hidden;

            &__img {
                height: 100%;
            }
        }

        &__cards {
            flex-wrap: wrap;
            display: flex;
            flex-direction: row;
            justify-content: center;
            gap: 89px;
            margin-top: 40px;
            padding-bottom: 50px;
        }

        &__service {
            display: flex;
            flex-direction: column;
            gap: 20px;

            &__serviceList {
                display: grid;
                grid-template-columns: repeat(4, 100px);
                justify-content: center;
                text-align: left;
                gap: 20px 50px;

                color: #000;
                font-size: 13px;
                font-family: Avenir Next Cyr;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.78px;

                &__service__item {
                    width: max-content;
                    padding-top: 6px;
                    border: 2px solid transparent;

                    &:hover {
                        border-top: 2px solid rgba(10, 231, 178, 1);
                    }
                }
            }

            &__btn {
                &__btn {
                    border-radius: 30px;
                    border: 2px solid #52CAB6;
                    color: #52CAB6;
                    padding: 14px;
                    font-size: 10px;
                    font-family: Avenir Next Cyr;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 2.6px;
                    background-color: white;
                }
            }

            &__frame {
                gap: 100px;
                display: flex;
                flex-direction: column;
                background: #FAF9F9;
                margin-top: 60px;
                padding-top: 140px;
                padding-bottom: 140px;

                &__text {
                    max-width: 40%;
                    align-self: center;

                    &__txt {
                        text-align: left;
                        color: rgba(147, 146, 146, 1);
                        font-size: 15px;
                        font-family: Avenir Next Cyr;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        letter-spacing: 0.9px;
                    }
                }

                &__cards {

                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 99px;
                    flex-wrap: wrap;

                    &__card {
                        display: flex;
                        flex-direction: column;
                        max-width: 30%;
                    }
                }
            }

            &__frame2 {
                display: flex;
                flex-direction: row;
                gap: 40px;
                padding: 200px 0;
                align-items: flex-start;
                justify-content: center;

                &__text {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: left;
                    width: 24%;

                    width: 318px;

                    &__title {
                        color: #474545;
                        font-size: 27px;
                        font-family: Avenir Next Cyr;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 1.62px;
                        width: 280px;
                    }

                    &__txt {
                        color: #939292;
                        font-size: 15px;
                        font-family: Avenir Next Cyr;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 149.2%;
                        letter-spacing: 0.9px;
                        width: 260px;
                    }
                }

                &__cards {

                    display: flex;
                    flex-direction: row;

                    &__card {
                        color: #757474;
                        text-align: center;
                        font-size: 13px;
                        font-family: Avenir Next Cyr;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 138.2%;
                        letter-spacing: 0.78px;
                    }
                }
            }

            &__fade-enter-from {
                transform: translateY(30px);
                opacity: 0.001;
            }

            &__fade-enter-to {
                opacity: 1;
            }

            &__fade-enter-active {
                transition: all 0.7s ease;
            }

            &__fade-leave-from {
                opacity: 1;
            }

            &__fade-leave-to {
                transform: translateY(30px);
                opacity: 0.001;
            }

            &__fade-leave-active {
                transition: all 0.3s ease;
            }
        }
    }

    &__footer {
        background: #454545;
        padding: 10px;

        &__table {

            padding: 60px;
            display: grid;
            grid-template-columns: repeat(4, 16%);
            text-align: left;
            justify-items: center;
            justify-content: center;
            padding-bottom: 100px;

            &__col {
                display: flex;
                flex-direction: column;
            }

            &__rights {
                color: #939292;
                text-align: center;
                font-family: Avenir Next Cyr;
                font-size: 11px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                letter-spacing: 0.66px;
            }
        }


    }

    @media (max-width: 1025px) {
        &__header {
            padding: 0 20px;
            display: flex;

            &__btns {
                align-items: center;
                gap: 20px;

                &__btn1 {
                    width: 130px;
                    height: 29px;

                    &__button {
                        background-color: transparent;
                        width: max-content;
                        height: 29px;
                        flex-shrink: 0;
                        color: #52CAB6;
                        font-family: Avenir Next Cyr;
                        font-size: 8px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                        letter-spacing: 0.88px;
                    }
                }

                &__btn2 {
                    width: 23px;
                    height: 23px;

                    &__button {
                        width: 23px;
                        height: 23px;
                        padding: 0;
                        background-image: url("@/assets/main/social icons/green_human.png");
                        background-size: 100% 100%;
                    }

                    &__button:after {
                        content: none;
                    }
                }
            }

            &__search {
                box-shadow: none;

                // &__input {
                //     display: none;
                // }
            }

            &__selector {
                // &__select {
                //     display: none;
                // }
            }
        }

        &__content {
            &__short-images {
                display: flex;
                width: min-content;
                top: 320px;
                left: 50%;
                position: absolute;
                font-size: 10px;

                gap: 10px;

                &__left {
                    position: relative;
                    width: 77px;
                    height: 77px;
                    background-image: url("@/assets/desktop/FrameHouseLogo.png");
                    background-repeat: no-repeat;
                    background-size: 43px 43px;
                    background-position: center;
                    border: 1px solid white;
                    background-color: white;
                    border-radius: 100px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                }

                &__left:after {
                    content: "дом";
                    margin-bottom: 6px;
                    background: linear-gradient(146.6deg, #F7C3DC 19.87%, rgba(246, 164, 93, 0.85307) 26.93%, #EE7787 42.19%, #A95EA1 56.56%, #273067 67.9%);
                    background-clip: text;
                    color: transparent;
                }

                &__right {
                    width: 77px;
                    height: 77px;
                    border: 1px solid white;
                    background-color: white;
                    border-radius: 100px;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    background-repeat: no-repeat;
                    background-size: 40px 40px;
                    background-position: 24px center;
                    background-image: url("@/assets/desktop/FramePillsLogo.png");
                }

                &__right:after {
                    content: "здоровье";
                    margin-bottom: 6px;
                    background: linear-gradient(146.6deg, #F7C3DC 19.87%, rgba(246, 164, 93, 0.85307) 26.93%, #EE7787 42.19%, #A95EA1 56.56%, #273067 67.9%);
                    background-clip: text;
                    color: transparent;
                }
            }

            &__cards {
                justify-content: normal;
                display: flex;
                gap: 25px;
                overflow-y: hidden;
                overflow-x: scroll;
                flex-wrap: nowrap;
            }

            &__service {
                padding: 30px;


                &__serviceList {
                    gap: 20px;
                    grid-template-columns: repeat(3, 110px);
                }

                &__frame {
                    display: none;
                }

                &__frame2 {
                    display: none;
                }

            }
        }

        &__footer {
            display: none;
        }
    }
}